.section-1 {
   .screenshot {

      .gradient-block {
         padding: 234px 0 19px;
   
         .screen {
            margin: 0;
            position: absolute;
            top: 30px;
            left: 15px;
            width: calc(100% - 30px);
         }
   
         .opaque-glass {
            margin-top: -21px;
            margin-left: 18%;
         }
      }
   }

   .decorative-line-1 {
      height: 268px;
      top: 70px;
   }
}
