.section-6 {
   margin-bottom: 59px;

   .main {
      gap: 54px;
   }

   .right-part {
      .supertoroid-purple {
         width: 100px;
         height: 100px;
         right: 77px;
      }

      .gif {
         margin: 89px 15px 0;
      }

      .block-blur {
         max-width: 78%;
         height: 256px;
         top: 50px;
      }
   }

   .line-3 {
      max-height: 243px;
      bottom: -70px;
   }
}