@use 'sass/variables' as*;

footer {
   height: 337px;
    
   .container {
      flex-direction: column;
      gap: 41px;
      padding: 50px 45px 0;
   }

   .logo {
      img {
         width: 180px;
         height: 28px;
      }
   }

   .footer-nav {
      h4 {
         max-width: 160px;
         margin-bottom: 45px;
      }
   }
}
