@use 'sass/variables' as *;

h1 {
   font-size: 1.5rem;
}

h2 {
   font-size: 1.25rem;
}

h3 {
   font-size: 1.125rem;
}

h4 {
   font-size: 1.125rem;
}

.text {
   font-size: 0.875rem;
}

.small-text {
   font-size: 0.75rem;
}

.download {
   font-size: 0.75rem;
   padding: 13px;
}

.custom-spacing {
   height: 28px;
}

::-webkit-scrollbar {
   width: 12px;
   height: 12px;
}

::-webkit-scrollbar-thumb {
   background: $purple-color;
}

::-webkit-scrollbar-track {
   background: $purple-light-color;
}