.section-5 {
   margin: 0 0 60px;

   .container {
      flex-direction: column;
      gap: 136px;
      overflow: initial;
   }

   .left-part {
      .roundcube-white {
         width: 122px;
         height: 140px;
         margin-left: 66px;
      }

      .small-gif {
         display: none;
      }
      
      .gif {
         margin: 16px 104px 0;

         .opaque-glass {
            max-width: 412px;
            font-size: 0.875rem;
            padding: 30px 50px;
            top: 294px;
         }
      }

      .block-blur {
         max-width: 94%;
         height: 482px;
         border-radius: 70px;
         margin-top: -398px;
      }
   }

   .info-about {
      height: auto;
      margin: 0;
   }
   
   @media (max-width: 767.9px) {
      .left-part {
         .opaque-glass {
            margin: -21px auto 0;
         }
      }
   }
}