.section-9 {
   margin-bottom: 100px;

   .container {
      padding: 0 45px;
   }

   .cube-and-glass {
      margin: 0 0 44px 0;

      .cube {
         width: 53px;
         height: 59px;
         margin: 0 0 -31px 127px;
      }
   
      .opaque-glass {
         max-width: 206px;
         font-size: 0.75rem;
         padding: 11px 35px;
      }
   }

   .title-and-text {
      max-width: 678px;
      height: auto;
      justify-content: space-between;
      gap: 20px;
      padding: 0;
      margin-bottom: 60px;

      h2 {
         max-width: 295px;
      }

      .small-text {
         max-width: 304px;
      }
   }

   .plates {
      .plate {
         height: 294px;
         padding: 60px;
      }
   }
}
