.section-3 {
   margin-bottom: 72px;

   .decorative-line-2 {
      height: 287px;
      top: -35px;
   }
   
   .main {
      flex-direction: column;
   }
   
   .left-part {
      margin-bottom: 97px;

      img {
         width: 66px;
         height: 125px;
         margin-top: 0;
      }

      .block-blur {
         max-width: 57%;
         height: 330px;
         margin-top: -367px;
      }

      .gif {
         margin: 0 104px 0;
      }
   }

   .info-about {
      height: auto;
      margin: 0;
   }
}