.section-6 {
   margin: 0 0 150px;

   .main {
      flex-direction: column;
      gap: 60px;
   }

   .info-about {
      order: 2;
      height: auto;
      margin-top: 0;
   }

   .right-part {
      .supertoroid-purple {
         width: 168px;
         height: 168px;
         right: 130px;
      }

      .gif {
         margin: 145px 104px 0;
      }

      .block-blur {
         max-width: 64%;
         height: 396px;
         top: 84px;
      }
   }

   .line-3 {
      max-height: 436px;
      bottom: -170px;
   }

   @media (max-width: 767.9px) {
      .line-3 {
         max-height: 325px;
         bottom: -160px;
      }
   }
}