.last-section {
   height: auto;
   margin-bottom: 100px;
   
   .line-5 {
      height: 176px;
      top: -70px;
   }

   .small-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 89px;
   }
   
   .cone {
      left: 37%;
      top: 0;
   }
   
   .opaque-glass {
      width: initial;
      margin: 102px 119px 0 0;

      .save {
         width: 122px;
         height: 122px;
         right: 93px;
         bottom: -18px;
      }
   }

   .right-part {
      max-width: 372px;
      height: auto;
      padding: 0 0 0 26px;
      margin: 0 auto;

      h2 {
         height: auto;
         font-size: 1.25rem;
         padding-top: 0;
         margin-bottom: 40px;
      }

      .now {
         display: none;
      }

      .download {
         display: block;
      }
   }
}