.section-8 {
   .cylinder-left {
      top: 1231px;
   }

   .cylinder-right {
      top: 1816px;
   }

   .translucent-block {
      h2 {
         margin-bottom: 60px;

         &:first-child {
            max-width: 262px;
            margin-bottom: 75px;
         }
      }

      .fuctions {
         flex-direction: column;
         gap: 60px;
         padding-left: 67px;

         .function {
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;

            &:last-child {
               max-width: 100%;
            }

            img {
               margin-bottom: 0;
               margin-right: 78px;
            }

            &:first-child {
               img {
                  margin-bottom: 0;
               }
            }

            .number-and-title {
               margin-bottom: 0;

               .number {
                  font-size: 1.25rem;
               }

               .title {
                  max-width: 116px;
               }
            }

            .text {
               height: auto;
               padding-left: 169px;
               margin-top: -25px;
            }

            &:first-child {
               .text {
                  margin-top: -18px;
               }
            }
         }
      }

      .steps {
         flex-direction: column;
         align-items: center;
         gap: 60px;

         .step {
            h2 {
               margin-left: 2px;
               margin-bottom: 37px;
            }

            .white-block {
               height: 192px;
               margin-bottom: 30px;

               button {
                  max-width: 226px;
                  height: 67px;
                  font-size: 0.875rem;
               }
            }

            .text {
               span {
                  display: inline;
               }
            }
         }
      }
   }
}