footer {
    background-color: #f5f5f5;
    margin-top: auto;
    
    .container {
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        padding: 60px 60px;
    }

    .logo {
        margin-right: 48px;
        
        img {
            width: 250px;
            height: 39px;
        }
    }
    
    .footer-nav {
        display: flex;
        justify-content: space-between;
        gap: 24px;

        h4 {
            max-width: 178px;
        }

        .product {
            h4 {
                margin-bottom: 26px;
            }

            .quality {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .text {
                    white-space: nowrap;
                }
            }
        }
    }

    @media (max-width: 1024.9px) {
        .container {
            padding: 50px 45px;
        }

        .logo {
            img {
                width: 180px;
                height: 28px;
            }
        }
    }

    @media (max-width: 767.9px) {
        .container {
           flex-direction: column;
           gap: 41px;
        }
    
        .footer-nav {
           h4 {
            max-width: 160px;
        }
        
        .product {
            h4 {
                margin-bottom: 45px;
            }
           }
        }
    }
}