@use 'sass/variables' as*;

footer {
    height: 296px;
    background-color: #f5f5f5;
    margin-top: auto;
    
    .container {
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        gap: 24px;
        padding: 60px 60px 0;
    }

    .logo {
        margin-right: 48px;
        
        img {
            width: 250px;
            height: 39px;
        }
    }
    
    .footer-nav {
        display: flex;
        justify-content: space-between;
        gap: 24px;

        h4 {
            max-width: 178px;
            margin-bottom: 26px;
        }

        .product {
            .quality {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .text {
                    white-space: nowrap;
                }
            }
        }
    }
}