@use 'sass/variables' as *;

.last-section {
   height: 321px;
   margin-bottom: 229px;

   .container {
      position: relative;
   }
   
   .line-5 {
      max-width: 1920px;
      height: 483px;
      position: absolute;
      top: -278px;
      z-index: -1;
   }

   .small-container {
      max-width: 1682px;
      display: flex;
      justify-content: space-between;
      gap: 45px;
   }
   
   .cone {
      width: 171px;
      height: 176px;
      position: absolute;
      left: 22%;
      top: 9px;
   }
   
   .opaque-glass {
      width: 100%;
      max-width: 825px;
      height: 210px;
      margin-top: 111px;
      @include opaque-glass;
      box-shadow: inset 0 0 0 3px #ffffff1f;
      background: linear-gradient(to right, #EBF3D077 0%, #FF59F840 15%, #AE72FF40 36%, #90E9ED40 58%, #5CD16740 80%, #FFEE0030 96%);

      .save {
         width: 144px;
         height: 144px;
         position: absolute;
         right: 71px;
         bottom: -29px;
      }
   }

   .right-part {
      width: 100%;
      max-width: 700px;
      height: 321px;
      padding-right: 24px;

      h2 {
         max-width: 577px;
         height: 191px;
         font-weight: 400;
         line-height: 1.4;
         margin-bottom: 60px;

         span {
            white-space: nowrap;
         }
      }

      .now {
         font-size: 1rem;
         font-weight: 500;
         line-height: 1.5;
         background: linear-gradient(to right, #7421B0 40%, #D08EFF 130%);
         color: #fff;
         border-radius: 5px;
         border: none;
         padding: 23px 39px;
      }

      .download {
         display: none;
      }
   }

   @media (max-width: 1024.9px) {
      h2 {
         font-size: 1.5rem;
         padding-top: 28px;
      }
   }
}