@use 'sass/variables' as *;

.section-2 {
   margin-top: 288px;

   .container {
      max-width: 1441px;
   }

   .info {
      height: 169px;
      display: flex;
      gap: 139px;
      margin-bottom: 80px;

      h2 {
         max-width: 473px;

         span {
            color: $primary-color;
         }
      }

      .text {
         max-width: 547px;

         span {
            color: $basic-color;
         }
      }
   }

   .plates {
      @include plates;
      .plate {
         &:hover {
            .cursor {
               content: url(assets/img/cursor-light.svg);
            }

            .save {
               content: url(assets/img/save-light.svg);
            }

            .puzzle {
               content: url(assets/img/puzzle-dark.svg);
            }

            .heart {
               content: url(assets/img/heart-light.svg);
            }
         }
      }
   }
}
