@use 'sass/variables' as *;

.section-3 {
   .container {
      position: relative;
   }

   .decorative-line-2 {
      max-width: 1920px;
      height: 565px;
      margin-top: -43px;
      position: absolute;
   }
   
   .main {
      width: 100%;
      max-width: 1638px;
      display: flex;
   }
   
   .left-part {
      flex: 1;

      img {
         width: 150px;
         height: 246px;
         margin-top: 132px;
         position: relative;
         z-index: 1;
      }

      .block-blur {
         max-width: 823px;
         height: 650px;
         margin-top: -527px;
         @include block-blur;
      }

      .gif {
         margin: 0 -13% 0 25%;
         @include gif;
      }
   }

   .info-about {
      width: 452px;
      height: 272px;
      margin: 456px 0 0 120px;
      @include info-about;
   }
}