@use 'sass/variables' as *;

.section-1 {
   width: 100%;
   max-width: 1920px;
   margin: 0 auto;
   
   .screenshot {
      border: 1px dashed;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      position: relative;

      .info-about-site {
         max-width: 454px;
         margin-left: 240px;
         margin-top: 170px;
         
         .white {
            width: 170px;
            height: 170px;
            filter: blur(6px);
            position: absolute;
            top: 0;
            left: 0;
         }
         
         h1 {
            position: relative;
            margin-bottom: 40px;
   
            span {
               color: $primary-color;
            }
   
            img {
               width: 212px;
               height: 57px;
               position: absolute;
               top: 118px;
               left: -8px;
            }
         }
      
   
         .text {
            height: 83px;
            color: $secondary-color;
            margin-bottom: 80px;
         }
   
         button {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            background: $gradient1;
            color: #fff;
            border-radius: 5px;
            border: none;
            padding: 23px 15px;
            margin-bottom: 126px;
         }
   
         .arrow-down {
            width: 46px;
            height: 46px;
            display: block;
         }
      }

      .gradient-block {
         width: 800px;
         height: 740px;
         background: $gradient2;
         border-radius: 70px;
         margin-top: auto;
         margin-right: -98px;
   
         .screen {
            width: 848px;
            height: 477px;
            margin-top: 88px;
            margin-left: -243px;
            position: relative;
            z-index: 1;
         }
   
         .opaque-glass {
            width: 282px;
            height: 108px;
            font-size: 1rem;
            line-height: 1.6;
            color: #fff;
            background-color: #C4C4C41A;
            backdrop-filter: blur(20px);
            border: 1px solid #FFFFFF26;
            border-radius: 10px;
            padding: 28px 49px;
            margin-top: -30px;
            margin-left: 124px;
            position: relative;
            z-index: 1;
         }
      }
   }

   .decorative-line-1 {
      max-width: 1920px;
      height: 968px;
      position: absolute;
      top: 150px;
   }
}