@use 'sass/variables' as *;

.section-5 {
   margin-top: -213px;

   .container {
      display: flex;
      gap: 54px;
      overflow: hidden;
   }

   .left-part {
      flex: 1;
      position: relative;

      .roundcube-white {
         width: 202px;
         height: 299px;
         margin-left: -48px;
      }

      .small-gif {
         width: 98px;
         height: 59px;
         padding-top: 31px;
         position: absolute;
         left: 112px;
         top: 50px;
         z-index: 1;

         .gif-small {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.17;
            color: $primary-color;
         }
      
         .gif-big {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.19;
            color: $primary-color;
            opacity: 0.16;
            margin-top: -59px;
            margin-left: 20px;
         }
      }
      
      .gif {
         margin: 23px 4% 0 17%;
         @include gif;
         
         .opaque-glass {
            max-width: 461px;
            padding: 30px 40px;
            margin: 0 10px;
            @include opaque-glass;
            color: $secondary-color;
            border-radius: 16px;
            position: absolute;
            top: 360px;
            
            span {
               color: $basic-color;
            }
         }
      }
      
      
      .block-blur {
         max-width: 1042px;
         height: 811px;
         margin-top: -565px;
         @include block-blur;
      }
   }

   .info-about {
      width: 448px;
      height: 208px;
      margin: 417px 24px 0 0;
      @include info-about;
   }
}