@use 'sass/variables' as *;

.section-2 {
   margin: 288px 0 19px 0;

   .container {
      max-width: 1441px;
   }

   .info {
      display: flex;
      gap: 139px;
      margin-bottom: 80px;

      h2 {
         max-width: 473px;

         span {
            color: $primary-color;
         }
      }

      .text {
         max-width: 547px;
         color: $secondary-color;

         span {
            color: $basic-color;
         }
      }
   }

   .plates {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .plate {
         width: 338px;
         height: 294px;
         background-color: #fff;
         border-radius: 10px;
         box-shadow: 0 18px 45px -10px rgba(0, 0, 0, 0.13);
         padding: 50px 60px 60px;

         img {
            width: 80px;
            height: 80px;
            margin-bottom: 40px;
         }

         &:hover {
            color: #fff;
            background-color: $primary-color;
            cursor: url(assets/img/cursor.svg), auto;

            .cursor {
               content: url(assets/img/cursor-light.svg);
            }

            .heart {
               content: url(assets/img/heart-light.svg);
            }
         }
      }
   }
}
