@use 'sass/variables' as *;

.section-9 {
   margin-bottom: 200px;
   
   .container {
      max-width: 1442px;
   }
   .cube-and-glass {
      margin: 0 0 34px 125px;

      .cube {
         width: 59px;
         height: 66px;
         margin: 0 0 -34px 141px;
      }
   
      .opaque-glass {
         max-width: 228px;
         padding: 8px 24px;
         @include opaque-glass;
         color: $secondary-color;
      }
   }

   .title-and-text {
      height: 149px;
      display: flex;
      gap: 97px;
      padding: 0 24px;
      margin-bottom: 37px;

      h2 {
         max-width: 530px;
         display: block;

         span {
            color: $primary-color;
         }
      }

      .small-text {
         max-width: 457px;
         line-height: 2;
      }
   }

   .plates {
      @include plates;
      
      .plate {
         height: 349px;
         padding: 50px 45px;

         &:hover {
            .star {
               content: url(assets/img/star-dark.svg);
            }
         }
      }
   }
}