@use 'sass/variables' as *;

.section-3 {
   .container {
      overflow: hidden;
   }

   .decorative-line-2 {
      max-width: 1920px;
      height: 565px;
      margin-top: -47px;
      position: absolute;
   }

   .main {
      display: flex;
   }

   .left-part {
      @include left-part;
   }

   .info-about {
      width: 460px;
      height: 272px;
      margin-top: 437px;
      margin-left: 275px;
      @include info-about;
   }
}