@use 'sass/variables' as *;

.section-1 {
   border: 1px dashed;
   margin: -88px 0 288px;

   .container {
      display: flex;
      justify-content: flex-end;
      position: relative;
   }

   .screenshot {
      width: 100%;
      max-width: 1700px;
      display: flex;
      gap: 267px;
      overflow: hidden;

      .info-about-site {
         max-width: 464px;
         padding-left: 48px;
         margin-top: auto;
         margin-right: auto;
         
         .white {
            width: 89px;
            height: 170px;
            filter: blur(6px);
            position: absolute;
            top: 88px;
            left: 0;
         }
         
         h1 {
            position: relative;
            margin-bottom: 40px;
   
            span {
               color: $primary-color;
            }
   
            img {
               width: 212px;
               height: 57px;
               position: absolute;
               top: 118px;
               left: -8px;
            }
         }
      
         .small-text {
            width: 438px;
            margin-bottom: 55px;
         }
   
         button {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            background: linear-gradient(to right, #6b1aa5 0%, #ab41f7 100%);
            color: #fff;
            border-radius: 10px;
            border: none;
            padding: 23px;
            margin-bottom: 126px;
         }
   
         .arrow-down {
            width: 46px;
            height: 46px;
            display: block;
         }
      }

      .gradient-block {
         width: 100%;
         max-width: 800px;
         background: linear-gradient(to bottom, #7421B0 0%, #D08EFF 100%);
         border-radius: 70px;
         padding: 88px 0 97px;
         margin: 162px -98px 0 0;
   
         .screen {
            width: 100%;
            max-width: 848px;
            margin-left: -30.4%;
            position: relative;
            z-index: 1;
         }
   
         .opaque-glass {
            width: 100%;
            max-width: 282px;
            padding: 28px 49px;
            margin-top: -30px;
            margin-left: 15%;
            @include opaque-glass;
         }
      }
   }

   .decorative-line-1 {
      max-width: 1920px;
      height: 968px;
      position: absolute;
      top: 150px;
   }
}