@use 'sass/variables' as *;

.section-3 {   
   .decorative-line-2 {
      max-width: 1920px;
      height: 565px;
      margin-top: -47px;
      position: absolute;
   }
   
   .main {
      width: 100%;
      max-width: 1638px;
      display: flex;
      overflow: hidden;

      img {
         width: 150px;
         height: 246px;
         margin-top: 132px;
         position: relative;
         z-index: 1;
      }
   }

   .left-part {
      flex: 1;

      .block-blur {
         max-width: 823px;
         height: 650px;
         margin-top: -104px;
         @include block-blur;

         .gif {
            @include gif;
            margin-left: 25%;
         }
      }
   }

   .info-about {
      width: 452px;
      height: 272px;
      margin: 437px 0 0 24px;
      @include info-about;
   }
}