@use 'sass/variables' as *;

.section-5 {
   margin-top: -213px;

   .container {
      display: flex;
      gap: 54px;
   }

   .left-part {
      max-width: 1042px;
      flex: 1;
      position: relative;

      img {
         width: 202px;
         height: 299px;
      }

      .small-gif {
         width: 98px;
         height: 59px;
         padding-top: 31px;
         position: absolute;
         left: 150px;
         top: 24px;
         z-index: 1;

         .gif-small {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.17;
            color: $primary-color;
         }
      
         .gif-big {
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.19;
            color: $primary-color;
            opacity: 0.16;
            margin-top: -59px;
            margin-left: 20px;
         }
      }

      .block-blur {
         max-width: 1042px;
         height: 811px;
         margin-top: -140px;
         @include block-blur;
      }
      
      .gif {
         margin: -648px 5% 0 23%;
         @include gif;
      }

      .opague-glass {
         max-width: 461px;
         padding: 30px 40px;
         margin: -37px 9% 0 34%;
         @include opaque-glass;
         color: $secondary-color;
         border-radius: 16px;
         
         span {
            color: $basic-color;
         }
      }
   }

   .info-about {
      width: 448px;
      height: 208px;
      margin: 417px 24px 0 0;
      @include info-about;
   }
}