@use 'sass/variables' as *;

.section-4 {
   height: 920px;
   margin-top: -182px;

   .container {
      display: flex;
   }

   .info-about {
      width: 434px;
      height: 303px;
      margin-top: 379px;
      margin-left: auto;
      @include info-about;
   }

   .right-part {
      position: relative;
      display: flex;
      justify-content: flex-end;
      flex: 1;

      .gif {
         width: 100%;
         margin-right: 18%;
         margin-top: 332px;
         position: relative;
         z-index: 1;
         @include gif;
      }

      .cube-purple {
         width: 181px;
         height: 179px;
         position: absolute;
         top: 130px;
         right: 60px;
      }

      .ellipse {
         max-width: 777px;
         height: 920px;
         backdrop-filter: blur(10px);
         position: absolute;
         top: 0;
         right: 0;
      }
   }
}