///fonts///
$font-primary: 'Rubik';
$font-secondary: 'monospace';

///colors///
$basic-color: #131313;
$primary-color: #7421B0;
$secondary-color: #828282;
$purple-color: #C0A9F0;
$purple-light-color: #E7DBFF44; 
$dark-color: #565656;

@mixin opaque-glass {
   font-size: 1rem;
   line-height: 1.625;
   color: #fff;
   background-color: #C4C4C41A;
   backdrop-filter: blur(14px);
   border-radius: 10px;
   box-shadow: inset 0 0 0 2px #ffffff26;
   position: relative;
   z-index: 1;
}

@mixin plates {
   width: 100%;
   display: flex;
   justify-content: space-between;

   .plate {
      flex: 25%;
      max-width: 338px;
      height: 294px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 18px 45px -10px rgba(0, 0, 0, 0.13);
      padding: 50px;

      img {
         width: 80px;
         height: 80px;
         margin-bottom: 40px;
      }

      &:hover {
         color: #fff;
         background-color: $primary-color;
         cursor: url(assets/img/cursor.svg), auto;
      }
   }

   @media (max-width: 1024.9px) {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 30px 17px;

      .plate {
         max-width: 324px;
         min-width: 324px;
         padding: 60px;
      }
   }
}

@mixin info-about {
   h2 {
      padding-right: 24px;
      margin-bottom: 40px;
   }

   .text {
      line-height: 1.8;

      span {
         color: $primary-color;
      }
   }

   @media (max-width: 1024.9px) {
      width: 100%;
      padding: 0 45px;
      display: flex;
      justify-content: space-between;

      .text {
         max-width: 441px;
      }
   }
}

@mixin gif {
   max-width: 705px;
   height: 397px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 18px 45px -10px rgba(0, 0, 0, 0.13);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 1;

   .gif-small {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.17;
      color: $primary-color;
   }

   .gif-big {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.19;
      color: $primary-color;
      opacity: 0.16;
      margin-top: -34px;
      margin-left: -19px;
   }

   @media (max-width: 1024.9px) {
      max-width: 561px;
      height: 315px;
   }
}

@mixin block-blur {
   width: 100%;
   background: linear-gradient(to right, #FF59F82A 0%, #AE72FF2A 20%, #90E9ED2A 41%, #5CD1672A 62%, #FFEE002A 83%);
   border-radius: 0 70px 70px 0;
   backdrop-filter: blur(12px); // Размытие заднего фона
   box-shadow: inset 0 0 0 3px #ffffff1f; // внутренний border
   position: relative;
   z-index: 1;
}
