///fonts///
$font-primary: 'Rubik';
$font-secondary: 'monospace';

///colors///
$basic-color: #131313;
$primary-color: #7421B0;
$secondary-color: #828282;
$purple-color: #C0A9F0;
$purple-light-color: #e7dbff48; 
$dark-color: #565656;

@mixin opaque-glass {
   font-size: 1rem;
   line-height: 1.625;
   color: #fff;
   background-color: #C4C4C426;
   backdrop-filter: blur(14px);
   border-radius: 10px;
   box-shadow: inset 0 0 0 2px #ffffff26;
   position: relative;
   z-index: 2;
}

@mixin plates {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 30px;

   .plate {
      width: 338px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 18px 45px -10px rgba(0, 0, 0, 0.13);

      img {
         width: 80px;
         height: 80px;
         margin-bottom: 40px;
      }

      &:hover {
         color: #fff;
         background-color: $primary-color;
         cursor: url(assets/img/cursor.svg), auto;
      }
   }

   @media (max-width: 1024.9px) {
      gap: 30px 17px;

      .plate {
         width: 324px;

         img {
            width: 60px;
            height: 60px;
         }
      }
   }

   @media (max-width: 767.9px) {
      gap: 20px;

      .plate {
         width: 100%;
         max-width: 100%;
         min-width: auto;
         padding: 26px 26px 26px 52px;
         display: flex;
         align-items: center;
         flex: 100%;

         img {
            width: 40px;
            height: 40px;
            margin: 0 44px 0 0;
         }
      }
   }
}

@mixin info-about {
   h2 {
      padding-right: 24px;
      margin-bottom: 40px;
   }

   .text {
      line-height: 1.8;

      span {
         color: $primary-color;
      }
   }

   @media (max-width: 1024.9px) {
      width: 100%;
      padding: 0 45px;
      display: flex;
      justify-content: space-between;

      h2 {
         padding-right: 48px;
      }

      .text {
         max-width: 441px;
      }
   }

   @media (max-width: 767.9px) {
      padding: 0 15px;
      flex-direction: column;
      gap: 20px;
      text-align: center;
      justify-content: flex-start;
      align-items: center;

      h2 {
         padding: 0;
         margin-bottom: 0;
      }

      .text {
         max-width: 100%;
      }
   }
}

@mixin gif {
   max-width: 705px;
   height: 397px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 18px 45px -10px rgba(0, 0, 0, 0.13);
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 2;

   .gif-small {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.17;
      color: $primary-color;
   }

   .gif-big {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.19;
      color: $primary-color;
      opacity: 0.16;
      margin-top: -34px;
      margin-left: -19px;
   }

   @media (max-width: 1024.9px) {
      max-width: 561px;
      height: 315px;
   }

   @media (max-width: 575.9px) {
      height: 193px;
   }
}

@mixin block-blur {
   width: 100%;
   background: linear-gradient(to right, #FF59F82A 0%, #AE72FF2A 20%, #90E9ED2A 41%, #5CD1672A 62%, #FFEE002A 83%);
   border-radius: 0 70px 70px 0;
   backdrop-filter: blur(12px); // Размытие заднего фона
   box-shadow: inset 0 0 0 3px #ffffff1f; // внутренний border
   position: relative;
   z-index: 1;
}
