///fonts///
$font-primary: 'Rubik';
$font-secondary:  'monospace';

///colors///
$basic-color: #131313;
$primary-color: #7421B0;
$secondary-color: #828282;
$purple-color: #C0A9F0;
$purple-light-color: #E7DBFF;
$dark-color: #565656;
$grey-color: #CCCCCC;
$gradient1: linear-gradient(to right, #7421B0 40%, #D08EFF 130%);
$gradient2: linear-gradient(to left, rgba(116, 33, 176, 0.2) 0%, rgba(208, 142, 255, 0.2) 100%);
$gradient3: linear-gradient(to right, #FF59F80D 0%, #AE72FF0D 20%, #90E9ED0D 41%, #5CD1670D 62%, #FFEE000D 83%);

@mixin opaque-glass {
   font-size: 1rem;
   line-height: 1.6;
   color: #fff;
   background-color: #C4C4C41A;
   backdrop-filter: blur(20px);
   border: 1px solid #FFFFFF26;
   border-radius: 10px;
   position: relative;
   z-index: 1;
}

@mixin plates {
   width: 100%;
   display: flex;
   justify-content: space-between;

   .plate {
      width: 338px;
      height: 294px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 18px 45px -10px rgba(0, 0, 0, 0.13);
      padding: 50px 60px 60px;

      img {
         width: 80px;
         height: 80px;
         margin-bottom: 40px;
      }

      &:hover {
         color: #fff;
         background-color: $primary-color;
         cursor: url(assets/img/cursor.svg), auto;
      }
   }
}

@mixin info-about {
   h2 {
      margin-bottom: 40px;
   }

   .text {
      line-height: 1.8;

      .custom-spacing {
         height: 32px;
      }

      span {
         color: $primary-color;
      }
   }
}

@mixin gif {
   width: 705px;
   height: 397px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 18px 45px -10px rgba(0, 0, 0, 0.13);
   padding: 184px 303px;
   
   .gif-small {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.17;
      color: $primary-color;
   }

   .gif-big {
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.19;
      color: $primary-color;
      opacity: 0.16;
      margin-top: -59px;
      margin-left: 20px;
   }
}

@mixin left-part {
   img {
      width: 150px;
      height: 246px;
      margin-top: 113px;
      position: relative;
      z-index: 1;
   }

   .block-blur {
      width: 903px;
      height: 650px;
      background: $gradient3;
      border-radius: 70px;
      backdrop-filter: blur(15px); // Размытие фона
      box-shadow: inset 0 0 0 3px #ffffff1f; // внутренний border
      padding-top: 130px;
      margin-left: -80px;
      margin-top: -104px;
      position: relative;
      z-index: 1;

      .gif {
         margin-left: 310px;
         @include gif;
      }
   }
}