<div class="faq">
   <div class="container">
      <h1 class="super-title">FAQ</h1>
      <div class="accordion">
         <div class="accordion-item">
            <button class="accordion-item__button">
               <span>01.</span>
               <div>Чи платна програма?</div>
            </button>
            <div class="accordion-item__content">
               <p>Ні, Screenshoter абсолютно безкоштовний. Вам не потрібно платити, щоб завантажити, встановити або використовувати програми – усі функції безкоштовні.</p>
            </div>
         </div>
         <div class="accordion-item">
            <button class="accordion-item__button"><span>02.</span>Для яких платформ доступний Screenshoter?</button>
            <div class="accordion-item__content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, vitae nam. Consectetur molestias repellendus animi itaque id culpa fugit facilis labore libero veritatis. Est hic necessitatibus ipsa vero quisquam illo?</p>
            </div>
         </div>
         <div class="accordion-item">
            <button class="accordion-item__button"><span>03.</span>Чим Screenshoter відрізняється від інших програм для створення скріншотів?</button>
            <div class="accordion-item__content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, vitae nam. Consectetur molestias repellendus animi itaque id culpa fugit facilis labore libero veritatis. Est hic necessitatibus ipsa vero quisquam illo?</p>
            </div>
         </div>
         <div class="accordion-item">
            <button class="accordion-item__button"><span>04.</span>Куди зберігаються скріншоти та відео?</button>
            <div class="accordion-item__content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, vitae nam. Consectetur molestias repellendus animi itaque id culpa fugit facilis labore libero veritatis. Est hic necessitatibus ipsa vero quisquam illo?</p>
            </div>
         </div>
         <div class="accordion-item">
            <button class="accordion-item__button"><span>05.</span>Чи можна видалити файли з сервера на кілька кліків?</button>
            <div class="accordion-item__content">
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, vitae nam. Consectetur molestias repellendus animi itaque id culpa fugit facilis labore libero veritatis. Est hic necessitatibus ipsa vero quisquam illo?</p>
            </div>
         </div>
      </div>
      <img class="cone" src="assets/img/cone-purple.svg" alt="cone">
      <img class="cylinder" src="assets/img/cylinder-iridescent.svg" alt="cylinder">
      <img class="ball" src="assets/img/sphere-white.svg" alt="ball">
   </div>      
</div>