<footer>
	<div class="container">
		<a class="logo" href="index.html">
			<img src="assets/img/logo.svg" alt="logo">
	   </a>
		<div class="footer-nav">
			<div class="product">
				<h4>Продукт</h4>
				<div class="quality">
					<a href="#" class="text">Функції</a>
					<a href="#" class="text">Переваги</a>
					<a href="#" class="text">Як використовувати</a>
				</div>
			</div>
			<h4 class="feedback"><a href="#">Зворотній зв'язок</a></h4>
			<h4 class="privacy-policy"><a href="#">Політика конфіденційності</a></h4>	
		</div>
	</div>
</footer>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>
