<footer>
	<div class="container">
		<a class="logo" href="index.html">
			<img src="assets/img/logo.svg" alt="logo">
	   </a>
		<div class="product">
			<h4>Продукт</h4>
			<div class="quality">
				<a href="#" class="small-text">Функції</a>
				<a href="#" class="small-text">Переваги</a>
				<a href="#" class="small-text">Як використовувати</a>
			</div>
		</div>
		<h4 class="feedback">Зворотній зв'язок</h4>
		<h4 class="privacy-policy">Політика конфіденційності</h4>
	</div>
</footer>
<script src="assets/js/jquery-3.7.1.min.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>