<header>
    <div class="container">
        <a class="logo" href="index.html">
            <img src="assets/img/logo.svg" alt="logo">
        </a>
        <nav class="header-nav">
            <ul class="nav-list">
                <a href="#" class="nav-item">Функції</a>
                <a href="#" class="nav-item">Переваги</a>
                <a href="#" class="nav-item">Як користуватись</a>
                <a href="#" class="nav-item">Часті питання</a>
                <form class="chose-language">
                    <select name="language">
                        <option value="ukrainian">Ukr</option>
                        <option value="english">Eng</option>
                    </select>
                </form>
            </ul>
        </nav>
    </div>
</header>