<div class="last-section">
   <div class="container">
      <img class="line-5" src="assets/img/decorative-line-5.svg" alt="line">
      <div class="small-container">
         <img class="cone" src="assets/img/inclined-cone.svg" alt="cone">
         <div class="opaque-glass">
            <img class="save" src="assets/img/save-dark.svg" alt="save">
         </div>
         <div class="right-part">
            <h2>Приєднуйтесь до <span>50 000 +</span> користувачів, які щодня використовують 
               Screenshoter у роботі та особистому листуванні</h2>
            <button class="now">Завантажити зараз</button>
            <button class="download">Завантажити безкоштовно</button>
         </div>
      </div>
   </div>
</div>
