<section class="section-3">
   <div class="container">
      <img class="decorative-line-2" src="assets/img/decorative-line-2.png" alt="line">
      <div class="main">
         <div class="left-part">
            <img src="assets/img/supertoroid-white-big.png" alt="supertoroid">
            <div class="block-blur">
               <div class="gif">
                  <div class="gif-small">gif.</div>
                  <div class="gif-big">gif.</div>
               </div>
            </div>   
         </div>
         <div class="info-about">
            <h2>Запис екрану</h2>
            <div class="text">
               Недостатньо знімків? Запишіть те, що відбувається, 
               на екрані зі своїм голосом або звуком системи. 
               <div class="custom-spacing"></div>
               <span>Достатньо натиснути дві кнопки миші,</span> 
               виділити необхідну область та розпочнеться запис відео 
               з екрану. Швидко та без складних налаштувань.
            </div>
         </div>
      </div>
   </div>
</section>