<div class="section-9">
   <div class="container">
      <div class="cube-and-glass">
         <img class="cube" src="assets/img/round-cube.svg" alt="cube">
         <div class="opaque-glass">Безкоштовна програма для Windows</div>
      </div>
      <div class="title-and-text">
         <h2><span>Screenshoter</span> корисний всім, хто працює в інтернеті</h2>
         <div class="small-text">Узгоджуйте робочі питання, показуйте цікаві речі та обговорюйте будь-які теми. 
            Діліться коментарями за допомогою безкоштовного інструменту 2 в 1.
         </div>
      </div>
      <div class="plates">
         <div class="plate">
            <img class="star" src="assets/img/star-light.svg" alt="star">
            <h4>Без реєстрації: не потрібно вводити жодних персональних даних</h4>
         </div>
         <div class="plate">
            <img class="shield" src="assets/img/shield.svg" alt="shield">
            <h4>Безкоштовно, без прихованих платежів
               та комісій</h4>
         </div>
         <div class="plate">
            <img class="cubes" src="assets/img/cubes.svg" alt="cubes">
            <h4>Необмежена кількість скріншотів та записів</h4>
         </div>
         <div class="plate">
            <img class="cloud" src="assets/img/cloud-computing.svg" alt="cloud">
            <h4>Файли зберігаються протягом 1 року - ви можете видалити їх у будь-який час</h4>
         </div>
      </div>
   </div>
</div>