<div class="section-8">
   <div class="container">
      <img class="ball" src="assets/img/sphere-purple.svg" alt="ball">
      <img class="cylinder-left" src="assets/img/cylinder-left.svg" alt="cylinder">
      <img class="cylinder-right" src="assets/img/cylinder-right.svg" alt="cylinder">
      <div class="translucent-block">
         <h2><span>Screenshoter</span> - це функції на кожен день</h2>
         <div class="fuctions">
            <div class="function">
               <img src="assets/img/supertoroid-iridescent.svg" alt="supertoroid">
               <div class="number-and-title">
                  <div class="number">01.</div>
                  <h3 class="title">Обмін ідеями</h3>
               </div>
               <div class="text">Коли потрібно щось наочно показати колезі, виконавцю чи замовнику —
                  можна зробити знімок екрану і додати до нього коментар.
                  <div class="custom-spacing"></div>
                  А якщо ситуація потребує детальнішого пояснення — окей, не проблема. Screenshoter
                  допоможе записати відео екрану разом з вашими голосовими коментарями.
               </div>
            </div>
            <div class="function">
               <img src="assets/img/roundcube-black.svg" alt="cube">
               <div class="number-and-title">
                  <div class="number">02.</div>
                  <h3 class="title">Створення інструкцій</h3>
               </div>
               <div class="text">Чи потрібно щось наочно пояснити? Створюйте зручні, покрокові
                  інструкції, додаючи коментарі та візуальні позначки у необхідному місці скріншота.
                  <div class="custom-spacing"></div>
                  Поділитися знімком або відеозаписом можна за допомогою посилання, яке миттєво
                  з'являється у буфері обміну.
               </div>
            </div>
            <div class="function">
               <img src="assets/img/cone-white.svg" alt="cone">
               <div class="number-and-title">
                  <div class="number">03.</div>
                  <h3 class="title">Зворотній зв'язок</h3>
               </div>
               <div class="text">Якщо під час роботи програми, сайту чи сервісу виникла помилка,
                  її можна миттєво зафіксувати.
                  <div class="custom-spacing"></div>
                  Надішліть скріншот у техпідтримку, де буде видно, в чому саме полягає проблема.
               </div>
            </div>
         </div>
         <h2>Як використовувати <span>Screenshoter</span></h2>
         <div class="steps">
            <div class="step">
               <h2>Крок 1.</h2>
               <div class="white-block">
                  <button>Завантажити безкоштовно</button>
               </div>
               <div class="text"><span>Завантажте програму</span> на свій ПК чи ноутбук</div>
            </div>
            <div class="step">
               <h2>Крок 2.</h2>
               <div class="white-block">Кадр із завантаженням програми</div>
               <div class="text"><span>Запустіть Screenshoter:</span> програма буде працювати у фоновому режимі
               </div>
            </div>
            <div class="step">
               <h2>Крок 3.</h2>
               <div class="white-block">Кадр із ярликом програми</div>
               <div class="text"><span>Насолоджуйтесь зручністю</span> та швидкодією</div>
            </div>
         </div>
         <button class="download">Завантажити безкоштовно</button>
      </div>
   </div>
</div>