<div class="section-5">
   <div class="container">
      <div class="left-part">
         <img src="assets/img/roundcube-white.png" alt="roundcube">
         <div class="small-gif">
            <div class="gif-small">gif.</div>
            <div class="gif-big">gif.</div>
         </div>
         <div class="block-blur">
            <div class="gif">
               <div class="gif-small">gif.</div>
               <div class="gif-big">gif.</div>
            </div>
         </div>
         <div class="opague-glass">
            <span>Файли зберігаються протягом 1 року</span> 
            з моменту створення. Можна їх видаляти самостійно. 
            В історії програми доступні останні 5 скріншотів.
         </div>
      </div>
      <div class="info-about">
         <h2>Миттєве посилання</h2>
         <div class="text">
            Миттєве отримання посилання на знімок або відео. Ви тільки натиснули Enter, 
            а посилання вже у буфері обміну. Перейшовши за посиланням, можна буде 
            переглянути ваш знімок або записане відео.
         </div>
      </div>
   </div>
</div>