<div class="section-4">
   <div class="container">
      <div class="info-about">
         <h2>В один клік</h2>
         <div class="text">
            <span>Не потрібно запам'ятовувати комбінації клавіш</span>
            на клавіатурі, щоб зробити скріншот або почати записувати відео з екрана.
            <div class="custom-spacing"></div>
            Просто натисніть дві кнопки миші або налаштуйте гарячу кнопку на будь-яку зручну клавішу
         </div>
      </div>
      <div class="right-part">
         <div class="gif">
            <div class="gif-small">gif.</div>
            <div class="gif-big">gif.</div>
         </div>
         <img class="cube-purple" src="assets/img/cube-purple.svg" alt="cube">
         <img class="ellipse" src="assets/img/ellipse.svg" alt="ellipse">
      </div>
   </div>
</div>
