<section class="section-1">
    <div class="container">
        <div class="screenshot">
            <div class="info-about-site">
                <img class="white" src="assets/img/supertoroid-white.svg" alt="supertoroid">
                <h1>Робіть знімки та записуйте екран <span>в 1 клік</span>
                    <img src="assets/img/frame.svg" alt="frame">
                </h1>
                <p class="small-text">Разом зі Screenshoter можна в один клік зробити знімок або записати те, що відбувається на екрані ПК, щоб поділитися з будь-ким</p>
                <button type="button">Завантажити безкоштовно</button>
                <img class="arrow-down" src="assets/img/arrow-down.svg" alt="arrow-down"> 
            </div>
            <div class="gradient-block">
                <img class="screen" src="assets/img/example-screen.png" alt="screen">
                <div class="opaque-glass">Безкоштовна програма для Windows</div>
            </div>
        </div>
        <img class="decorative-line-1" src="assets/img/decorative-line-1.svg" alt="line">
    </div>
</section>