<div class="section-7">
   <div class="container">
      <div class="plates">
         <div class="plate">
            <img class="crayon" src="assets/img/crayon-dark.svg" alt="crayon">
            <h4>Вибирайте колір та малюйте олівцем</h4>
         </div>
         <div class="plate">
            <img class="fullscreen" src="assets/img/fullscreen-light.svg" alt="fullscreen">
            <h4>Використовуйте стрілку, коло чи квадрат для виділення</h4>
         </div>
         <div class="plate">
            <img class="chat" src="assets/img/chat-light.svg" alt="chat">
            <h4>Залишайте коментарі</h4>
         </div>
         <div class="plate">
            <img class="raindrop" src="assets/img/raindrop-light.svg" alt="raindrop">
            <h4>Розмивайте необхідну область</h4>
         </div>
      </div>
      <button class="download">Завантажити безкоштовно</button>
   </div>
</div>
