<section class="section-2">
   <div class="container">
      <div class="info">
         <h2>Зустрічайте – скріншоти та запис екрана <span>2 в 1</span></h2>
         <div class="text">Більше не потрібно шукати дві окремі програми для скріншотів та 
            запису екрана. Screenshoter допоможе 
            <span>зробити знімок екрану, записати відео та поділитися ним з ким завгодно.</span> 
            Можна виділити весь екран, певну область або активне вікно
         </div>
      </div>
      <div class="plates">
         <div class="plate">
            <img class="cursor" src="assets/img/cursor-dark.svg" alt="cursor">
            <h4>Знімок та запис екрану в 1 клік</h4>
         </div>
         <div class="plate">
            <img class="save" src="assets/img/save-dark.svg" alt="disk">
            <h4>Миттєве посилання на файл</h4>
         </div>
         <div class="plate">
            <img class="puzzle" src="assets/img/puzzle-light.svg" alt="puzzle">
            <h4>Зручний редактор знімків</h4>
         </div>
         <div class="plate">
            <img class="heart" src="assets/img/heart-dark.svg" alt="heart">
            <h4>Безкоштовно та без реєстрації</h4>
         </div>
      </div>
   </div>
</section>
