<div class="section-6">
   <div class="container">
      <div class="main">
         <div class="info-about">
            <h2>І редактор знімків</h2>
            <div class="text">
               <span>Більше 5 інструментів</span>
               для редагування. Виділяєте область та редагуєте.
               <div class="custom-spacing"></div>
               Якщо неправильно вибрали область – не біда, можна без проблем її пересунути
               та/або змінити розмір, не видаляючи те, що намальовано!
            </div>
         </div>
         <div class="right-part">
            <img class="supertoroid-purple" src="assets/img/supertoroid-purple.svg" alt="supertoroid">
            <div class="gif">
               <div class="gif-small">gif.</div>
               <div class="gif-big">gif.</div>
            </div>
            <div class="block-blur"></div>
         </div>
      </div>
      <img class="line-3" src="assets/img/decorative-line-3.svg" alt="line">
   </div>
</div>